.divCadastros {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 800px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.cadastroT {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: solid 4px black;
}

.cadastroNS {
    margin-top: -15px;
    background-color: white;
    border: solid 5px black;
}

input {
    height: 15px;
    border: solid 2px;
    color: rgb(0, 0, 0);
}

button {
    height: 25px;
    width: 100px;
    border: solid 2px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: black;
}

.botao {
    margin-top: -100px;
    margin-left: -10px;
}

.imagemFundo {
    background-repeat: no-repeat; 
    background-size: cover;      
    background-position: center;
}

.ngressos{
    color: rgb(0, 0, 0);
    position: center;
    margin-left: 455px;
    font-size: 55px;
    background-color: white;
    width: 940px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 4px black;
}

.graca{
    background-color: rgb(255, 255, 255);
    font-size: 55px;
    width: 211px;
    margin-left: 830px;
    border: solid 4px black;
    color: rgb(0, 0, 0);
}

